[viewBag]
snippetCode = "button"
snippetName = "Button"
snippetProperties[label][title] = "Label"
snippetProperties[label][type] = "string"
snippetProperties[label][default] = "Click me"
snippetProperties[label][options][] = ""
snippetProperties[align][title] = "Alignment"
snippetProperties[align][type] = "dropdown"
snippetProperties[align][default] = "text-center"
snippetProperties[align][options][justify-content-start] = "Left"
snippetProperties[align][options][justify-content-center] = "Center"
snippetProperties[align][options][justify-content-end] = "Right"
snippetProperties[href][title] = "Target Url"
snippetProperties[href][type] = "string"
snippetProperties[href][default] = ""
snippetProperties[href][options][] = ""
snippetProperties[page][title] = "Or Target Page"
snippetProperties[page][type] = "string"
snippetProperties[page][default] = ""
snippetProperties[page][options][] = ""
snippetProperties[style][title] = "Style"
snippetProperties[style][type] = "dropdown"
snippetProperties[style][default] = "btn-animated-underline-primary"
snippetProperties[style][options][btn-animated-underline-primary] = "Underline Primary"
snippetProperties[style][options][btn-lg btn-primary] = "Primary"
snippetProperties[marginTop][title] = "Margin Top"
snippetProperties[marginTop][type] = "dropdown"
snippetProperties[marginTop][default] = 1
snippetProperties[marginTop][options][] = 0
snippetProperties[marginTop][options][] = 1
snippetProperties[marginTop][options][] = 2
snippetProperties[marginTop][options][] = 3
snippetProperties[marginTop][options][] = 4
snippetProperties[marginTop][options][] = 5
snippetProperties[marginBottom][title] = "Margin Bottom"
snippetProperties[marginBottom][type] = "dropdown"
snippetProperties[marginBottom][default] = 1
snippetProperties[marginBottom][options][] = 0
snippetProperties[marginBottom][options][] = 1
snippetProperties[marginBottom][options][] = 2
snippetProperties[marginBottom][options][] = 3
snippetProperties[marginBottom][options][] = 4
snippetProperties[marginBottom][options][] = 5
snippetProperties[paddingTop][title] = "Padding Top"
snippetProperties[paddingTop][type] = "dropdown"
snippetProperties[paddingTop][default] = 0
snippetProperties[paddingTop][options][] = 0
snippetProperties[paddingTop][options][] = 1
snippetProperties[paddingTop][options][] = 2
snippetProperties[paddingTop][options][] = 3
snippetProperties[paddingTop][options][] = 4
snippetProperties[paddingTop][options][] = 5
snippetProperties[paddingBottom][title] = "Padding Bottom"
snippetProperties[paddingBottom][type] = "dropdown"
snippetProperties[paddingBottom][default] = 0
snippetProperties[paddingBottom][options][] = 0
snippetProperties[paddingBottom][options][] = 1
snippetProperties[paddingBottom][options][] = 2
snippetProperties[paddingBottom][options][] = 3
snippetProperties[paddingBottom][options][] = 4
snippetProperties[paddingBottom][options][] = 5
==
<div class="partial-button mt-{{ marginTop }} mb-{{ marginBottom }} pt-{{ paddingTop }} pb-{{ paddingBottom }}">
  <div class="container container-xl d-flex {{ align }}">
    {% if href is not empty %}
      {% set target = href %}
    {% endif %}
    {% if page is not empty %}
      {% set target = page | staticPage %}
    {% endif %}
    <bs4-button class="btn {{ style }}" {% if target %}rv-route="'{{ target }}'"{% endif %}>{{ label }}</bs4-button>
  </div>
</div>
