[viewBag]
snippetCode = "contact-form"
snippetName = "Contact form"
==
<div class="container contact-form my-5">
  <div class="row">
    <div class="col-12">
      <form>
        <div class="form-group">
          <h2>{{ this.theme.contact_reasons_title }}</h2>
          {% for reason in this.theme.contact_reasons %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="contactReason" id="contactReason{{ loop.index }}" value="{{ reason.text }}" checked>
              <label class="form-check-label" for="contactReason{{ loop.index }}">
                {{ reason.text }}
              </label>
            </div>
          {% endfor %}
        </div>

        <div class="form-group">
          <label class="h2" for="contactSelectApplication">{{ this.theme.contact_concern_title }}</label>
          {{ this.theme.contact_concern_content | raw }}

          <select class="custom-select custom-select-lg" id="contactSelectApplication">
            <option selected>Anwendungsgebiet auswählen</option>
            {% for application_area in this.theme.application_areas_nav_item  %}
              <option value="{{ application_area.title }}">{{ application_area.title }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label class="sr-only" for="contactMessage">Nachricht</label>
          <textarea class="form-control form-control-lg" id="contactMessage" rows="6" placeholder="Nachricht"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>
