[viewBag]
snippetCode = "contact-form"
snippetName = "Contact form"
==
<div class="container contact-form my-5">
  <div class="row">
    <div class="col-12">
      <oc-form
        rv-show-toast-on-submit-success="{'message': '{ toast.$event.detail.message }', 'delay': 20000, 'contextualClass': 'dark'}"
        disable-submit-until-change="true" october-handler="onContactFormSubmit">
        <form>

          {# Ich nehme Kontakt auf, weil #}
          <div class="form-group input-group contact_reasons">
            <h2>{{ this.theme.contact_reasons_title }}</h2>
            {{ this.theme.contact_reasons_content | raw }}
            {% for reason in this.theme.contact_reasons %}
            <div class="form-check custom-control custom-radio">
              <input class="custom-control-input" type="radio" name="contactReason" id="contactReason{{ loop.index }}"
                value="{{ reason.text }}" {% if loop.index == 1 %}checked{% endif %}>
              <label class="custom-control-label" for="contactReason{{ loop.index }}">
                {{ reason.text }}
              </label>
            </div>

            {% endfor %}
          </div>

          {# Message #}
          <div class="form-group">
            <label class="sr-only" for="contactMessage">Nachricht*</label>
            <textarea class="form-control form-control-lg" name="contactMessage" id="contactMessage" rows="6"
              placeholder="Nachricht*" required></textarea>
          </div>

          {# Kontaktdaten #}
          <div class="form-group">
            <label class="sr-only" for="contactLastname">Nachname</label>
            <input class="form-control form-control-lg" name="contactLastname" id="contactLastname" rows="6"
              placeholder="Nachname"></input>
          </div>

          <div class="form-group">
            <label class="sr-only" for="contactFirstname">Vorname</label>
            <input class="form-control form-control-lg" name="contactFirstname" id="contactFirstname" rows="6"
              placeholder="Vorname"></input>
          </div>

          <div class="form-group">
            <label class="sr-only" for="contactMail">E-Mail*</label>
            <input class="form-control form-control-lg" name="contactMail" id="contactMail" rows="6"
              placeholder="E-Mail*" required></input>
          </div>

          <div class="form-group">
            <label class="sr-only" for="contactPhone">Telefon*</label>
            <input class="form-control form-control-lg" name="contactPhone" id="contactPhone" rows="6"
              placeholder="Telefon*" required></input>
          </div>


          <div class="form-group contact_legal_data_protection">
            {{ this.theme.contact_legal_data_protection_content | raw }}
          </div>

          <div class="form-group contact_legal_agreement">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="contactAgreement" id="contactAgreement"
                required>
              <label class="custom-control-label"
                for="contactAgreement">{{ this.theme.contact_legal_agreement_content | raw }}</label>
            </div>

          </div>

          {# Submit result container #}
          <div id="contactSubmitResult"></div>


          {# Button #}
          <button rv-on-click="onSubmit" rv-disabled="submitDisabled" type="submit"
            class="btn btn-secondary btn-lg">Absenden</button>
        </form>
      </oc-form>
    </div>
  </div>
</div>