description = "Fadeshow"

[viewBag]
snippetCode = "fadeshow"
snippetName = "fadeshow"
snippetProperties[name][title] = "Name"
snippetProperties[name][type] = "string"
snippetProperties[name][default] = ""
snippetProperties[name][options][] = ""
==
{% set findName = name | lower | replace({' ': ''}) %}
{% set fadeshow = undefined %}
{% for curFadeshow in this.theme.fadeshows %}
    {% set curName = curFadeshow.name | lower | replace({' ': ''}) %}
    {% if curName == findName %}
        {% set fadeshow = curFadeshow %}
    {% endif %}
{% endfor %}


{% if fadeshow is defined %}
    
    <div class="partial-fadeshow container-fluid">
    
        <div class="row">
    
            <div class="col-12 px-0">
    
                <bs4-carousel class="carousel slide carousel-fade" interval="5000">
                    <div class="carousel-inner">
                        {% for slide in fadeshow.images %}
                            {% set isExtern = false %}
                            {% if slide.extern_image is defined and slide.extern_image is not empty %}
                                {% set isExtern = true %}
                                {% set image = slide.extern_image %}
                            {% endif %}
                            {% if slide.image is defined and slide.image is not empty %}
                                {% set isExtern = false %}
                                {% set image = slide.image | media %}
                            {% endif %}

                            {% if slide.button_url | first == '/' %}
                                {% set button_url = slide.button_url %}
                            {% else %}
                                {% set button_url = slide.button_url | staticPage %}
                            {% endif %}

                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <div class="embed-responsive embed-responsive-2by3 embed-responsive-md-16by9 lazy">
                                    <img
                                        loading="eager"
                                        class="embed-responsive-item"
                                        {% if isExtern == false %}
                                        srcset="
                                            {{ image | resize(200, null, { mode: 'cover' }) }} 200w,
                                            {{ image | resize(400, null, { mode: 'cover' }) }} 400w,
                                            {{ image | resize(800, null, { mode: 'cover' }) }} 800w,
                                            {{ image | resize(1000, null, { mode: 'cover' }) }} 1000w,
                                            {{ image | resize(1200, null, { mode: 'cover' }) }} 1200w,
                                            {{ image | resize(1400, null, { mode: 'cover' }) }} 1400w,
                                            {{ image | resize(1600, null, { mode: 'cover' }) }} 1600w,
                                            {{ image | resize(1800, null, { mode: 'cover' }) }} 1800w,
                                            {{ image | resize(2000, null, { mode: 'cover' }) }} 2000w,
                                            {{ image | resize(2500, null, { mode: 'cover' }) }} 2500w,
                                            {{ image | resize(3000, null, { mode: 'cover' }) }} 3000w
                                        "
                                        sizes="100vw"
                                        {% endif %}
                                        src="{{ image }}"
                                        alt="{{ slide.alt }}"
                                    >
                                </div>
                                <div class="carousel-caption carousel-caption-center d-flex d-md-flex">
                                    <h2>
                                        <span class="font-special">{{ slide.title_special }}</span>
                                        {{ slide.title }}
                                    </h2>
                         
                                    {{ slide.content | raw }}
                                    {% if slide.button_label is not empty %}
                                        <bs4-button class="btn btn-animated-underline-primary" rv-route="'{{ button_url }}'">{{ slide.button_label }}</bs4-button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </bs4-carousel>
            </div>    
        </div>
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        Slideshow not found, make sure you have created a slideshow with the name "{{ name }}" in your theme settings.
    </div>
{% endif %}
