[viewBag]
snippetCode = "fee"
snippetName = "Fee"
==
<div class="container partial-fee">
  <bs4-accordion>
    {% for group in this.theme.fee_groups  %}
      <template title="{{ group.title }}">
        {% if group.items | length > 0 %}
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">{{ this.theme.fee_item_title_name }}</th>
                <th scope="col">{{ this.theme.fee_item_title_sessions }}</th>
                <th scope="col">{{ this.theme.fee_item_title_price }}</th>
              </tr>
            </thead>
            <tbody>
              {% for item in group.items  %}
                <tr>
                  <th scope="row">{{ item.name }}</th>
                  <td>{{ item.sessions }}</td>
                  <td>{{ item.price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </template>
    {% endfor %}
  </bs4-accordion>
</div>
