[viewBag]
snippetCode = "fee"
snippetName = "Fee"
==
<div class="container partial-fee">
  <bs4-accordion collapse-icon-src="{{ 'assets/iconset/arrow_carrot.svg' | theme }}" collapse-icon-size="38">
    {% for group in this.theme.fee_groups  %}
      <template title="{{ group.title }}">
        {% if group.items | length > 0 %}
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">{{ this.theme.fee_item_title_name }}</th>
                  <th scope="col">{{ this.theme.fee_item_title_sessions }}</th>
                  <th scope="col">{{ this.theme.fee_item_title_price }}</th>
                </tr>
              </thead>
              <tbody>
                {% for item in group.items  %}
                  <tr>
                    <td scope="row">{{ item.name }}</td>
                    <td>{{ item.sessions }}</td>
                    <td>{{ item.price }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      </template>
    {% endfor %}
  </bs4-accordion>
</div>
