[viewBag]
snippetCode = "iframe"
snippetName = "Iframe"
snippetProperties[source][title] = "Source"
snippetProperties[source][type] = "string"
snippetProperties[source][default] = ""
snippetProperties[source][options][] = ""
==
<div class="partial-iframe w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <iframe loading="lazy" class="w-100 lazy" src="{{ source | raw }}" frameborder="0" style="height: calc(150vh);"></iframe>
      </div>
    </div>
  </div>
</div>
