description = "Instagram feed"

[viewBag]
snippetCode = "instagram"
snippetName = "instagram"
==
<?php
function onStart() {

    if(!file_exists("instagram/token.txt")) {
        $this['error'] = "no token provided";
        return;
    }

    $current_token = trim(preg_replace('/\s\s+/', ' ', file_get_contents("instagram/token.txt")));

    $ch = curl_init();

    if((time() - filemtime("instagram/token.txt")) > 3*24*60*60) {
        //refreshing token...

        //TODO prevent race condition
        
        curl_setopt_array($ch, [
            CURLOPT_RETURNTRANSFER => 1,
            CURLOPT_URL => "https://graph.instagram.com/refresh_access_token?grant_type=ig_refresh_token&access_token=" . $current_token
        ]);
        $response = json_decode(curl_exec($ch));

        $current_token = $response->{"access_token"};
        file_put_contents("instagram/token.txt", $current_token);
        curl_close($ch);
    }

    if(!file_exists("instagram/images.txt") || (time() - filemtime("instagram/images.txt")) > 1*60*60) {
        curl_setopt_array($ch, [
            CURLOPT_RETURNTRANSFER => 1,
            CURLOPT_URL => "https://graph.instagram.com/17841406076219844/media?limit=999&fields=media&access_token=" . $current_token
        ]);
        $response = json_decode(curl_exec($ch));
        file_put_contents("instagram/images.txt", json_encode($response));
    } else {
        $response = json_decode(file_get_contents("instagram/images.txt"));
    }

    $medias = array();

    foreach($response->{"data"} as $item) {
        $media_id = $item->{"id"}; 
        if(file_exists("instagram/cache/" . $media_id . ".json")) {
            $medias[] = json_decode(file_get_contents("instagram/cache/" . $media_id . ".json"));
        } else {
            curl_setopt_array($ch, [
                CURLOPT_RETURNTRANSFER => 1,
                CURLOPT_URL => "https://graph.instagram.com/" . $media_id . "?access_token=" . $current_token . "&fields=media_url,media_url,media_type,permalink,caption,children{media_type,media_url}"
            ]);
            
            $media = json_decode(curl_exec($ch));
            file_put_contents("instagram/cache/" . $media_id . ".json", json_encode($media));
            $medias[] = $media;
        }
    }
    curl_close($ch);
    $this["images"] = $medias;

}
?>
==
<div class="container-fluid partial-instagram-feed">
    <div class="row mx-1" rv-assign-max-images="24">
        {% for image in images %}
        <div class="col-12 col-md-4 p-0 cursor-pointer {{ image.media_type }}" rv-if="{{ loop.index0  }} | lt maxImages">
            <div class="p-2">
                <div class="embed-responsive embed-responsive-1by1 lazy">
                    {% if image.media_type == "IMAGE" %}
                    <a href="{{ image.permalink }}" target="_blank">
                        <img lazyload="lazy" class="embed-responsive-item" src="{{ image.media_url }}"
                            alt="{{ image.caption }}">
                    </a>
                    {% elseif image.media_type == "CAROUSEL_ALBUM" %}
                    {# <script>console.log({{ image | json_encode() | raw}});</script> #}
                    <bs4-slideshow controls="false" indicators="true" lg-controls="true" class="embed-responsive-item" indicators="false" sticky="false"
                        autoplay="false" draggable="true" lg-draggable="false"
                        control-prev-icon-src="{{ 'assets/iconset/arrow_carrot_thin.svg' | theme }}"
                        control-next-icon-src="{{ 'assets/iconset/arrow_carrot_thin.svg' | theme }}"
                    >
                        <div class="slideshow-inner m-0">
                            {% for slide in image.children.data %}
                                <div class="slide col-12 embed-responsive embed-responsive-1by1 lazy">
                                    <img lazyload="lazy" class="embed-responsive-item" src="{{ slide.media_url }}" alt="{{ slide.caption }}">
                                </div>
                            {% endfor %}
                        </div>
                    </bs4-slideshow>
                    {% elseif image.media_type == "VIDEO" %}
                    <a href="{{ image.permalink }}" target="_blank">
                        <video class="embed-responsive-item" autoplay muted loop preload>
                            <source src="{{ image.media_url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </a>
                    {% endif %}

                    {# hover info #}
                    {# <div class="embed-responsive-item caption d-none d-md-flex align-items-center">{{ image.caption }}</div>#}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
