[viewBag]

[staticMenu footer]
code = "footer"
==
<div class="container">
  <div class="row">
    <div class="col-12 col-md pt-5">
      {{ this.theme.general_address | raw}}
    </div>
    <div class="d-none d-md-flex col-auto px-5">
      <div class="division"></div>
    </div>
    <div class="col-12 col-md pt-5">
      {{ this.theme.general_opening_hours | raw}}
    </div>
    <div class="d-none d-md-flex col-auto division-image">
      <bs4-icon src="{{ 'assets/images/hypnosezentrum-cuxhaven-footer-division.svg' | theme }}"></bs4-icon>
    </div>
    <div class="col-12 col-md pt-5">
      {% partial 'staticMenu/items' items=footer.menuItems %}
    </div>
  </div>
  <div class="row text-center footer-icons">
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hypnosezentrum-cuxhaven-footer-staendiger-austausch.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Ständiger Austausch mit Kollegen</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hypnosezentrum-cuxhaven-footer-ursachenorientierte-therapie.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Ursachenorientierte Therapie</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hypnosezentrum-cuxhaven-footer-hoher-qualitaetsstandard.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Hoher Qualitätsstandard</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hypnosezentrum-cuxhaven-footer-regelmäßge-fortbildungen.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Regelmäßige Fortbildungen</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hypnosezentrum-cuxhaven-footer-supervision.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Supervision</span>
      </a>
    </div>
  </div>
</div>
