[viewBag]

[staticMenu footer]
code = "footer"
==
<div class="container d-flex flex-column pb-5">

  <div class="row order-1 order-md-0">
    <div class="col-12">
      {% component 'contenteditor' file='footer/title.htm' %}
    </div>
  </div>

  <div class="row order-2 order-md-1 navbar-light navbar-nav flex-row justify-content-around nav-cols">
    {% partial 'staticMenu/items-footer-cols' items=footer.menuItems %}
  </div>

  <div class="row order-0 order-md-2 text-center footer-icons">
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hotel-strandhus-cuxhaven-footer-beliebt-bei-paaren.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Beliebt bei Paaren</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hotel-strandhus-cuxhaven-footer-pool-im-hotel.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Pool im Hotel</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hotel-strandhus-cuxhaven-footer-direkt-am-strand.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Direkt am Strand</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hotel-strandhus-cuxhaven-footer-fruehstuecksbuffet.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">Frühstücksbuffet</span>
      </a>
    </div>
    <div class="col-12 col-md pt-5">
      <a class="row" href="/">
        <div class="col-12">
          <bs4-icon class="mx-auto" color="primary" src="{{ '/assets/images/hotel-strandhus-cuxhaven-footer-weiterempfehlungen.svg' | theme }}" size="40"></bs4-icon>
        </div>
        <span class="col-12 py-3 text-primary">92% Empfehlungen</span>
      </a>
    </div>
  </div>


  <div class="row order-4 mb-5">
    <div class="col-12 px-0">
      <bs4-dropdown class="dropup art-code-popup w-100 d-flex justify-content-center align-items-center">
        <button rv-on-click="toggle" class="btn btn-link dropdown-toggle" id="dropdownArtCodeStudio" aria-haspopup="true" aria-expanded="false">
          <bs4-icon class="mx-auto heartbeat" color="#FF0040" src="{{ '/assets/images/loading.svg' | theme }}" size="100" alt="Handcrafted by Art+Code Studio"></bs4-icon>
        </button>
        <div class="dropdown-menu p-3 text-left" aria-labelledby="dropdownArtCodeStudio">
          <p><strong>Webdesign by Art+Code Studio</strong></p>
          <p>Das <a href="https://artandcode.studio/" target="_blank" rel="noopener">Art+Code Studio</a> versteht, dass jeder Kunde einzigartig ist, jedes Projekt einen anderen Ansatz erfordert und dass jedes Projekte unvoreingenommen und mit freien Gedanken begonnen werden muss. So entdecken wir in enger Zusammenarbeit mit unseren Kunden das Potenzial und schaffen kreative und schöne Lösungen. Schreib uns: <a href="mailto:hi@artandcode.studio">hi@artandcode.studio</a></p>
        </div>
      </bs4-dropdown>
    </div>
  </div>
</div>

<div class="container-fluid d-flex flex-column pb-5 text-center bg-light">
  <div class="row order-3 mb-5">
    <div class="col-12 py-6 px-0">
      <p class="display-4 mt-2 font-special">
        Campen
      </p>
      <p class="h3 mb-3">
        Am Meer ist auch schön
      </p>
      <bs4-button rv-route="'https://www.camping-finck.de/'" class="btn btn-animated-underline-primary ">
          Zum Campingplatz Finck
      </bs4-button>
    </div>
  </div>
</div>


{% partial 'fixed-bottom-bar' %}
