[viewBag]
==
{#
STYLES "Outdated Browser"
Version: 1.1.2 - 2015
author: Burocratik
website: http://www.burocratik.com
github: https://github.com/outdatedbrowser/outdated-browser

Customized version by Art+Code Studio
website: https://artandcode.studio/
#}
<style>
    .outdated-modal {
        background-color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .outdated-modal .modal-content {
        display: block;
        max-width: 510px;
        margin: auto;
        margin-top: 30vh;
    }

    html.browser-ie .d-browser-ie-block {
        display: block !important;
    }

    html.browser-ie .d-browser-ie-none {
        display: none !important;
    }
</style>

<script rv-block>
    var outdatedBrowserLoaded = false;
    var outdatedBrowser = function (options) {

        if (outdatedBrowserLoaded) {
            return;
        }

        outdatedBrowserLoaded = true;

        // Default options
        if (!options || !options.lowerThan) {
            options.lowerThan = 'transform';
        }
        cssProps = options.lowerThan;

        // Variable definition (before ajax)
        var outdated = document.getElementById("outdated");

        // Define opacity and fadeIn / fadeOut functions
        var done = true;

        function function_opacity(opacity_value) {
            outdated.style.opacity = opacity_value / 100;
            outdated.style.filter = 'alpha(opacity=' + opacity_value + ')';
        }

        function function_fade_in(opacity_value) {
            function_opacity(opacity_value);
            if (opacity_value == 1) {
                outdated.style.display = 'block';
            }
            if (opacity_value == 100) {
                done = true;
            }
        }

        var supports = (function () {
            var div = document.createElement('div');
            var vendors = 'Khtml Ms O Moz Webkit'.split(' ');
            var len = vendors.length;

            return function (prop) {
                if (prop in div.style) return true;

                prop = prop.replace(/^[a-z]/, function (val) {
                    return val.toUpperCase();
                });

                while (len--) {
                    if (vendors[len] + prop in div.style) {
                        return true;
                    }
                }
                return false;
            };
        })();

        var validBrowser = true;

        // check by css3 property (transform=default)
        for (var index = 0; index < cssProps.length && validBrowser; index++) {
            var cssProp = cssProps[index];
            validBrowser = supports('' + cssProp + '');
        }

        if (!validBrowser) {
            if (done && outdated.style.opacity !== '1') {
                done = false;
                for (var i = 1; i <= 100; i++) {
                    setTimeout((function (x) {
                        return function () {
                            function_fade_in(x);
                        };
                    })(i), i * 8);
                }
            }
        } else {
            return;
        }
    };

    // Plain Javascript
    // event listener: DOM ready
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }

        var oldonerror = window.onerror;
        if (typeof window.onerror != 'function') {
            window.onerror = func;
        } else {
            window.onerror = function () {
                if (oldonerror) {
                    oldonerror();
                }
                func();
            }
        }
    }

    /**
     * Test if the current borwser is IE
     */
    function isIE() {
        return (window.navigator.appName == 'Microsoft Internet Explorer' || !!window.navigator.userAgent.match(/Trident/) || !!window.navigator.userAgent.match(/rv:11/) || ($ && $.browser && $.browser.msie == 1));
    }

    function addBrowserClassToHtml() {
        if (isIE()) {
            var htmlElement = document.getElementsByTagName('html')[0];
            htmlElement.setAttribute('class', 'browser-ie');
        }
    }

    //call plugin function after DOM ready
    addLoadEvent(function () {
        addBrowserClassToHtml();
        outdatedBrowser({
            lowerThan: ['objectFit', 'flexDirection']
        });
    });

</script>

<div id="outdated" class="modal outdated-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="d-none d-en-block m-0">Your browser is out of date!</h6>
                <h6 class="d-none d-de-block m-0">Ihr Browser ist veraltet!</h6>
            </div>
            <div class="modal-body">
                <div class="d-none d-en-block">
                    <p class="d-browser-ie-none m-0">Update your browser to view this webapp correctly.</p>
                    <p class="d-none d-browser-ie-block m-0">
                        You are using Microsoft Internet Explorer, which is no longer being developed by Microsoft.
                        Upgrade to Microsoft Edge or another modern browser to view this webapp correctly.
                    </p>
                </div>
                <div class="d-none d-de-block">
                    <p class="d-browser-ie-none m-0">
                        Bitte aktualisieren Sie Ihren Browser, um diese Webanwendung korrekt darzustellen.
                    </p>
                    <p class="d-none d-browser-ie-block m-0">
                        Sie verwenden den Microsoft Internet Explorer, dieser wird von Microsoft nicht mehr
                        weiterentwickelt.
                        Bitte aktualisieren Sie auf Microsoft Edge oder einen anderen zeitgemäßen Browser, um diese
                        Webanwendung korrekt darzustellen.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-animated-underline-primary d-none d-en-block"
                    href="https://outdatedbrowser.com/en">Update my browser now </a>
                <a class="btn btn-animated-underline-primary d-none d-de-block"
                    href="https://outdatedbrowser.com/de">Jetzt aktualisieren </a>
            </div>
        </div>
    </div>
</div>