[viewBag]
snippetCode = "pdf-forms"
snippetName = "PDF Forms"
==
<div class="container pdf-forms">
  <div class="row">
    <div class="col-12">
      {% for form in this.theme.forms  %}
        {% if form.active %}
          <bs4-accordion collapse-icon-src="{{ 'assets/iconset/arrow_carrot.svg' | theme }}" collapse-icon-size="38">
            <template title="{{ form.title }}">
              {{ form.content | raw}}
              <pdf-form-fields src="{{ form.pdf | media }}" worker-src="{{ 'assets/js/vendors.pdfjsWorker.bundle.js' | theme }}"></pdf-form-fields>
            </template>
          </bs4-accordion>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

