[viewBag]
==
<div class="container-fluid partial-provenexpert-widget-footer">
  <div class="row">
    <div class="col-12 px-0">
      {# Smartphone Widget #}
      <div id="pewl" class="d-block d-xl-none my-2"></div>
      <script type="text/javascript" src="https://www.provenexpert.com/widget/landing_praxis-fuer-psychosomatische-energetik-hypnose-entspannung.js?feedback=1&avatar=1&competence=1&style=white"></script>
      <link rel="stylesheet" type="text/css" href="https://www.provenexpert.com/css/widget_landing.css" media="screen,print">
      
      {# Desktop Widget #}
      <div id="ProvenExpert_widgetbar_container" class="d-none d-xl-block"></div>
      <script type="text/javascript" src="//www.provenexpert.com/widget/bar_praxis-fuer-psychosomatische-energetik-hypnose-entspannung.js?style=white&amp;feedback=1"></script>
    
    </div>
  </div>
</div>
