[viewBag]
snippetCode = "random-personal-report"
snippetName = "Random personal report"
==
<div class="container container-xl random-personal-report personal-report text-center" rv-assign-show-index="{{ this.theme.personal_reports | length }} | minus 1 | random">
  <div class="row">
    {% for report in this.theme.personal_reports  %}
      <div class="col-12 col-md-auto mx-auto" rv-show="showIndex | eq {{ loop.index0 }}">
        <p class="title mb-4">{{ report.title }}</p>
        <p class="quote mb-4">„{{ report.quote }}“</p>
      </div>
    {% endfor %}
    <div class="col-12 mt-5">
      <bs4-button class="btn btn-animated-underline-primary" rv-route="'{{ 'erfahrungsberichte' | staticPage }}'">Weitere Erfahrungsberichte lesen</bs4-button>
    </div>
  </div>
</div>
  