description = "Slideshow beside at a glance"

[viewBag]
snippetCode = "slideshow-beside-at-a-glance"
snippetName = "Slideshow beside at a glance"
snippetProperties[filename][title] = "Content Filename"
snippetProperties[filename][type] = "string"
snippetProperties[filename][default] = ""
snippetProperties[filename][options][] = ""
==
<div class="container slideshow-beside-at-a-glance my-5">
  <div class="row">
    <div class="col-12 col-lg-5 p-5 order-2 order-lg-1">
      <bs4-slideshow
        controls="false"
        md-controls="true"
        controls-position="outsite-middle"
        indicators="true"
        indicators-position="outsite-bottom"
        sticky="true"
        autoplay="false"
        control-prev-icon-src="{{ 'assets/iconset/arrow_carrot_alt.svg' | theme }}"
        control-next-icon-src="{{ 'assets/iconset/arrow_carrot_alt.svg' | theme }}"
        indicator-inactive-icon-src="{{ 'assets/iconset/icon_circle-empty.svg' | theme }}"
        indicator-active-icon-src="{{ 'assets/iconset/icon_circle-selected.svg' | theme }}"
      >
        <div class="slideshow-inner">
          {% for slide in this.theme.at_a_glance_slides %}
            {% set image = slide.extern_image %}

            {% if slide.image is not empty %}
            {% set image = slide.image | media %}
            {% endif%}
            <div class="slide col-12 p-0 embed-responsive embed-responsive-1by1">
              <img lazyload="lazy" class="embed-responsive-item lazy" src="{{ image }}" alt="{{ slide.alt }}">
            </div>
          {% endfor %}
        </div>
      </bs4-slideshow>
    </div>

    <div class="col-12 col-lg-7 order-1 order-lg-2 p-lg-5">
      {% component 'contenteditor' file=filename %}
      <bs4-button class="btn btn-animated-underline-primary" rv-route="'{{ 'anwendungsgebiete' | staticPage }}'">Zu den Anwendungsgebieten</bs4-button>
    </div>
  </div>
</div>
