[viewBag]
snippetCode = "small-icon"
snippetName = "small-icon"


snippetProperties[icon][title] = "Icon"
snippetProperties[icon][type] = "text"
snippetProperties[icon][default] = "instagram"

snippetProperties[position][title] = "Position"
snippetProperties[position][type] = "dropdown"
snippetProperties[position][default] = left
snippetProperties[position][options][left] = left
snippetProperties[position][options][right] = right

snippetProperties[position][title] = "Position"
snippetProperties[position][type] = "dropdown"
snippetProperties[position][default] = left
snippetProperties[position][options][left] = left
snippetProperties[position][options][right] = right

snippetProperties[link][title] = "Link"
snippetProperties[link][type] = "text"
==
{% set icon_url = "assets/iconset/svg/#{icon}.svg" %}
<a rv-route="'{{link}}'">
    <bs4-icon class="small-icon small-icon-{{position}}" src="{{ icon_url | theme }}" size="64" direction="right">
    </bs4-icon>

</a>