[viewBag]
snippetCode = "small-icon"
snippetName = "small-icon"


snippetProperties[icon][title] = "Icon"
snippetProperties[icon][type] = "dropdown"
snippetProperties[icon][default] = instagram
snippetProperties[icon][options][instagram] = instagram
snippetProperties[icon][options][webcam] = webcam

snippetProperties[position][title] = "Position"
snippetProperties[position][type] = "dropdown"
snippetProperties[position][default] = left
snippetProperties[position][options][left] = left
snippetProperties[position][options][right] = right

snippetProperties[position][title] = "Position"
snippetProperties[position][type] = "dropdown"
snippetProperties[position][default] = left
snippetProperties[position][options][left] = left
snippetProperties[position][options][right] = right

snippetProperties[link][title] = "Link"
snippetProperties[link][type] = "text"
==

<bs4-icon rv-route="'{{link}}'" class="small-icon small-icon-{{position}}" src="{{ 'assets/iconset/arrow.svg' | theme }}" size="32" direction="right"></bs4-icon>
