#layout-bottom {
  margin-top: 100px;
  .footer-icons {
    margin-top: 100px;
    padding-bottom: 100px;
    bs4-icon {
      max-width: 80px;
      max-height: 80px;
    }
  }
  strong {
    text-transform: uppercase;
  }

  .nav-cols {
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }

}
