.ProvenExpert_widget_container {
  text-decoration: none;
  z-index: 9999;
  position: fixed;
  float: left;
  line-height: 0;
  right: 3px;
  // Fallback
  bottom: 40vh;
  bottom: calc(50vh - (120px / 2));
  img {
    border: 0;
  }
}
