
.partial-provenexpert-widget-footer {
  z-index: $zindex-fixed + 1;
  background-color: $body-bg;
  #pewl {
    border: none !important;
    background-color: transparent !important;
  }
  
  #ProvenExpert_widgetbar_container {
    > div {
      position: inherit !important;
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }  
}
