[viewBag]
==
{# Level 1 #}
{% if items %}
    {% for item in items %}
        {% if not item.viewBag.isHidden %}
            {#{item | json_encode()}#}
            {% set titleClass = str_studly(item.title) | lower | replace({'/':'_'}) %}
            <li rv-parent-route-class-active="'{{ item.url }}'" class="nav-item flex-column {{titleClass}} {{ item.viewBag.cssClass }} {% if item.items %}nav-item-with-childs{% endif %}">
                {% if item.code == 'no-link' %}
                    <span class="nav-link">
                        {{ item.title }}
                    </span>
                {% else %}
                    <a rv-on-click="onItemClick" class="nav-link" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                    {% if prefetch %}
                        <link rel="router-preload" href="{{ item.url }}">
                    {% endif %}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
