[viewBag]
==
{% for item in items %}
    {% if not item.viewBag.isHidden %}
        {% set titleClass = str_studly(item.title) | lower | replace({'/':'_'}) %}
        <li rv-parent-route-class-active="'{{ item.url }}'"
            class="nav-item nav-item-level-1 flex-column {{ titleClass }} {{ item.viewBag.cssClass }} {% if item.items %}nav-item-level-1-with-childs{% endif %}">
                {% if item.code == 'no-link' %}
                <span class="nav-link">
                    {{ item.title }}
                </span>
            {% else %}
                {% if item.viewBag.isExternal %}
                    <a class="nav-link {% if '.pdf' in item.url %}no-barba no-barba-prefetch{% endif %}" target="_blank" href="{{ item.url }}" rel="noopener">
                        {{ item.title }}
                    </a>
                {% else %}
                    <a rv-route="'{{ item.url }}'" class="nav-link {% if '.pdf' in item.url %}no-barba no-barba-prefetch{% endif %}" href="{{ item.url }}">
                        {{ item.title }}
                    </a>
                {% endif %}
                
                {% if prefetch and not '.pdf' in item.url %}
                    <link rel="router-preload" href="{{ item.url }}">
                {% endif %}
            {% endif %}
            {% if item.items %}
                <div class="nav-item-level-2-wrapper py-3 collapsed">
                    {% for item in item.items %}
                        {% set titleClass = str_studly(item.title) | lower | replace({'/':'_'}) %}
                        <div rv-route-class-active="'{{ item.url }}'"
                            class="nav-item nav-item-level-2 {{ item.viewBag.cssClass }} {{titleClass}} {% if item.items %}nav-item-level-2-with-childs{% endif %}">
                            {% if not item.viewBag.isHidden %}
                                <a rv-route="'{{ item.url }}'" class="nav-link {% if '.pdf' in item.url %}no-barba no-barba-prefetch{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}