[viewBag]
==
{% for item in items %}
    {% if not item.viewBag.isHidden %}
        {#{item | json_encode()}#}
        {% set titleClass = str_studly(item.title) | lower | replace({'/':'_'}) %}
        <div rv-parent-route-class-active="'{{ item.url }}'" class="nav-item nav-item-level-1 flex-column {{titleClass}} {{ item.viewBag.cssClass }} {{ str_studly(item.title) | lower  }}">
            {% if item.code == 'no-link' %}
                <span class="nav-link">
                    {{ item.title }}
                </span>
            {% else %}
                <a rv-on-click="onItemClick" class="nav-link" href="{{ item.url }}">
                    {{ item.title }}
                </a>
            {% endif %}
            {% if item.items %}
                <div class="nav-item-level-2-wrapper py-3 collapsed">
                    {% for item in item.items %}
                        {% set titleClass = str_studly(item.title) | lower | replace({'/':'_'}) %}
                        <div rv-route-class-active="'{{ item.url }}'" class="nav-item nav-item-level-2 {{ item.viewBag.cssClass }} {{titleClass}}">
                            {% if not item.viewBag.isHidden %}
                                <a rv-on-click="onItemClick" class="nav-link " href="{{ item.url }}">{{ item.title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
