<div class="hsh-cookies">
    <span>Diese Webseite verwendet Cookies, diese helfen uns dabei Ihr Nutzererlebnis zu verbessern. <a
            aria-label="learn more about cookies" role="button" tabindex="0" href="/datenschutz"
            rel="noopener noreferrer nofollow" target="_blank">Mehr dazu in der
            Datenschutzerklärung.</a></span>
    <div class="cc-compliance cc-highlight d-flex justify-content-between mt-3">
        <button class="btn btn-link p-0" rv-on-click="denyCookies" aria-label="deny cookies" role="button"
            tabindex="0">Nein Danke</button>
        <button class="btn btn-link p-0" rv-on-click="acceptCookies" aria-label="dismiss cookie message"
            role="button" tabindex="0">Okay</button>
    </div>
</div>