.btn {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    &:focus, &.focus {
        outline: 0;
        box-shadow: none;
    }
}

.btn-animated-underline-primary {
    padding-left: 0;
    padding-right: 0;
}

#dropdownArtCodeStudio:focus {
    outline: none;
    box-shadow: none;
}
