/**
 * Variables wich are not existing in bootstrap
 */
$hsh-navbar-bg-opacity: 0.95;
$hsh-navbar-bg-blur: 7px;
$hsh-navbar-expanded-border-bottom-opacity: 1;
$report-bg: $tertiary;

$font-family-special: 'HorizontesScript', 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
