.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  &:focus {
    background-color: $input-focus-bg;
  }
  background-size: 32px;
}

.custom-select-lg {
  border-radius: $input-border-radius-lg;
}


.form-control {
  &:not(:placeholder-shown) {
    background-color: $input-focus-bg;
  }
}
