
// Grayscale Colors
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #ebebeb;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

// General Colors
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #5cb85c;
$blue: #0275d8;
$teal: #74aabe;
$pink: #ff5b77;
$purple: #613d7c;

// Brand Colors
$primary: #99b9d5;
$secondary: #d5cfc9;
$secondary: #d5cfc9;
$tertiary: #ebebeb;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

// Body Colors
$body-color: #777776;
$body-bg: #ffffff;