@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.75);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

.heartbeat {
  animation: heartbeat 3s infinite;
}

art-code-credits {
  display: block;
  height: 100px;
}

.art-code-popup {
  position: absolute;
  left: 50%;

  bs4-icon.heartbeat  {
   /* svg {
      fill: $title-color;
    }
    &.visible {
      svg {
        fill: #ff0040;
      }
    }*/
  }
  #Ebene_1 {
    fill:#ff0040;
  }  
  .popup {
    width: 322px; 
    max-width: 100%;
    background-color: #ff0040;
    border-color: transparent;
    border-radius: 0;
    color: black;
    font-size: 80%;
    text-align: center;
    a {
      color: white;
    }
  }

  .align-bottom {
    bottom: unset;
    top: 100px;
  }

  .popup-container {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
  }
  .icon-container {
    transform: translateX(-50%);
    position: absolute;
  }

  .show {
    display: block;
  }

  .dropdown-toggle {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    &::after {
      content: none;
    }
  }

  .cursor-default {
    cursor: url(../art-code-studio/cursor_default.png), default;
    cursor: url(../art-code-studio/cursor_default_2x.png), default;
  }

  .cursor-pointer {
    cursor: url(../art-code-studio/cursor_pointer.png), pointer !important;
    cursor: url(../art-code-studio/cursor_pointer_2x.png), pointer !important;
    &:active {
      cursor: url(../art-code-studio/cursor_grabbing.png), grabbing !important;
      cursor: url(../art-code-studio/cursor_grabbing_2x.png), grabbing !important;
    }
  }
}
