bs4-slideshow {
    .slideshow-controls {
        width: 50% !important;
        justify-content: flex-end !important;
        bottom: 30px !important;

        &.slideshow-control-next {
            cursor: e-resize !important;
            align-items: flex-end;
        }

        &.slideshow-control-prev {
            cursor: w-resize !important;
            align-items: flex-start;
        }
    }

    .slideshow-controls:focus {
        outline: none;
        box-shadow: none;
    }

    .slideshow-indicators,
    .slideshow-controls {
        color: $white !important;
    }
}