$bs4-accordion-border: 2px solid $secondary;

bs4-accordion {
  border-bottom: $bs4-accordion-border;
  .accordion {
    .card, .card .card-header {
      background: transparent;
      border: none;
    }
    .card {
      .card-header {
        @extend h2;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          color: $link-hover-color;;
        }
      }
      &:not(:first-child) {
        .card-header {
          border-top: $bs4-accordion-border;
        }
      }
      .card-body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        table {
          word-break: keep-all;
          th, td {
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
