$bs4-accordion-border: 2px solid $secondary;

bs4-accordion {
  border-bottom: $bs4-accordion-border;
  .accordion {
    .card, .card .card-header {
      background: transparent;
      border: none;
    }
    .card {
      .card-header {
        padding-left: 0;
        padding-right: 0;
        &:hover {
          color: $link-hover-color;;
        }
      }
      &:not(:first-child) {
        .card-header {
          border-top: $bs4-accordion-border;
        }
      }
      .card-body {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
