bs4-dropdown {
    &.art-code-popup {
        .dropdown-menu {
            width: 400px;
            max-width: 100%;
            background-color: #FF0040;
            border-color: transparent;
            border-radius: 0;
            color: black;
            font-size: 80%;
            a {
                color: white;
            }
        }
        
        .dropdown-toggle::after {
            content: none;
        }
    }
}
