.page-border {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid $secondary;
  z-index: $zindex-fixed + 100;
}
