==
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>{{ this.page.title }}</title>

    {% styles %}
    <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet">

    <body >
        <div id="main-container">
            <div id="layout-top">{% partial 'layout-top' %}</div>
            <div id="main" rv-view="{'listenAllLinks': true, 'datasetToModel': true}">
                <div {% partial 'router-dataset' %}>{% page %}</div>
            </div>
            <div id="layout-bottom">{% partial 'layout-bottom' %}</div>
        </div>
        
        {#% framework %#}
        {% scripts %}
        <script async="" type="text/javascript" src="{{ 'assets/js/vendors.main.bundle.js' | theme }}"></script>
        <script async="" type="text/javascript" src="{{ 'assets/js/main.bundle.js' | theme }}"></script>
        
    </body>
</head>

</html>