[staticPage]
useContent = 1
default = 0

[seoTags]

[contenteditor]
==
<?php
function onContactFormSubmit()
{
    $inputs = array('contactMessage', 'contactLastname', 'contactFirstname', 'contactMail', 'contactPhone', 'contactAgreement');
    foreach ($inputs as &$inputName) {
        $this->page[$inputName] = '';
        $this->page[$inputName] = input($inputName);
        $values[$inputName] = '';
        $values[$inputName] = input($inputName);
    }
    
    $buildOwnerMessage = function ($message) use ($values) {
        // TODO use email and name from backend or theme settings
        $message->to('info@hotel-strandhus.de', 'Hotel Strandhus');
        // $message->from($values['contactMail'], $values['contactFirstname']. ' ' . $values['contactLastname']);
        $message->subject("Neue Anfrage von ".$values['contactFirstname']. ' ' . $values['contactLastname']);
    };
    
    $buildSenderMessage = function ($message) use ($values) {
        $message->to($values['contactMail'], $values['contactFirstname']. ' ' . $values['contactLastname']);
    };

    // mail to site owner
    Mail::send('owner', $values, $buildOwnerMessage);
    
    // mail to contact sender
    Mail::send('sender', $values, $buildSenderMessage);
    
    Log::info('Used contact from user: '.$values['contactFirstname'].' '.$values['contactLastname'].' ('.$values['contactMail'].')');
    

    // TODO catch errors
    return "Nachricht abgeschickt";
    
}
?>
==
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ this.page.title }}</title>

    {% component 'seoTags' %}
    {% partial 'favicons' %}

    {% styles %}
    <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet">

<body>
    <div id="main-container">
        <div id="layout-top">
            {% partial 'layout-top' %}
        </div>
        <div id="main" rv-view="{'listenAllLinks': true, 'datasetToModel': true}">
            <div {% partial 'router-dataset' %}>
                {% if placeholder('headerTeaser') %}
                <div class="page-header-teaser">
                    {% placeholder headerTeaser title="Header" %}
                </div>
                {% endif %}
                {% page %}
                {#% component 'staticPage' %#}
            </div>
        </div>
        <div id="layout-bottom">
            {% partial 'layout-bottom' %}
        </div>
        <bs4-toast-container position-class="absolute-bottom absolute-center">
        </bs4-toast-container>
        <hsh-cookies>
        </hsh-cookies>
    </div>

    {% partial 'outdated-browser' %}

    <script type="text/javascript" src="{{ 'assets/js/vendors.bundle.js' | theme }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/main.bundle.js' | theme }}"></script>
    {#
            Old webpack 4 builds
            <script type="text/javascript" src="{{ 'assets/js/vendors.wp4.bundle.js?v=3' | theme }}"></script>
            <script type="text/javascript" src="{{ 'assets/js/wp4.bundle.js?v=3' | theme }}"></script>
        #}
    {% framework %}
    {% scripts %}

</body>
</head>

</html>