[staticPage]
useContent = 1
default = 0

[seoTags]

[contenteditor]
==
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <title>{{ this.page.title }}</title>
    
    {% component 'seoTags' %}

    {% styles %}
    <link href="{{ ['assets/scss/theme.scss'] | theme }}" rel="stylesheet">

    <body rv-data-scroll-position-y="'window'">
        <div class="page-border"></div>
        <div id="main-container">
            <div id="layout-top">
                {% partial 'layout-top' %}
            </div>
            <div id="main" rv-view="{'listenAllLinks': true, 'datasetToModel': true}">
                <div {% partial 'router-dataset' %}>
                    {% if placeholder('headerTeaser') %}
                    <div class="page-header-teaser">
                        {% placeholder headerTeaser title="Header Teaser" %}
                    </div>
                    {% endif %}
                    {% if placeholder('header') %}
                        <div class="page-header-container d-flex justify-content-end flex-column align-items-start">
                            {% placeholder header title="Header Title" %}
                        </div>
                    {% endif %}
                    {# {% page %} #}
                    {% component 'staticPage' %}
                </div>
            </div>
            <div id="layout-bottom">
                {% partial 'layout-bottom' %}
            </div>
        </div>
        
        <script type="text/javascript" src="{{ 'assets/js/vendors.main.bundle.js' | theme }}"></script>
        <script type="text/javascript" src="{{ 'assets/js/main.bundle.js' | theme }}"></script>
        {% framework %}
        {% scripts %}
        
    </body>
</head>

</html>