hsh-navbar.navbar {

    .navbar-start, .navbar-end {
        width: 300px;
    }

    .nav-link, .btn-animated-underline-primary {
        font-weight: $font-weight-bold;
        font-size: $font-size-lg;
    }

    .btn-animated-underline-primary {
        color: $primary;
    }

    .nav-sub  {
        display: none;
        .nav-link {
            font-weight: $font-weight-light;
            font-size: $font-size-base;
        }
    }

}
