<div class="art-code-popup">
  
  <div class="popup-container" rv-class-align-bottom="alignBottom" hidden="true" rv-show="popupVisible">
    <div class="popup mx-auto p-2">
      <p><strong>Webdesign by Art+Code Studio</strong></p>
      <p>Das <a href="https://artandcode.studio/" target="_blank" rel="noopener" class="cursor-pointer">Art+Code Studio</a> versteht, dass
        jeder Kunde einzigartig ist, jedes Projekt einen anderen Ansatz erfordert und dass jedes Projekte
        unvoreingenommen und mit freien Gedanken begonnen werden muss. So entdecken wir in enger Zusammenarbeit mit
        unseren Kunden das Potenzial und schaffen kreative und schöne Lösungen. Schreib uns: <a
          href="mailto:hi@artandcode.studio" class="cursor-pointer">hi@artandcode.studio</a></p>
    </div>
  </div>

  <div class="cursor-pointer text-center icon-container" rv-on-click="toggle">   
    <bs4-icon rv-class-visible="popupVisible" class="mx-auto heartbeat" rv-src="iconSrc" size="100" alt="Handcrafted by Art+Code Studio"></bs4-icon> 
  </div>

</div>